name: Release

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  VERSION: 3.6.1
  SHA256: b1bfedcd5b289ff22aee87c9d600f515767ebf45f77168cb6d64f231f518a82e

jobs:
  build:
    name: Generate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build
        run: |
          sudo apt update
          sudo apt install build-essential
          ./generate.sh "$VERSION" "$SHA256"
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          body: "Generated"
          draft: false
          name: "Generated"
          tag_name: generated
          files: output/openssl-3.6.1-generated.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
